* {
  color: #fff;
}

.playPages {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.playPages h1 {
  font-size: 12px;
  padding: 10px 20px;
  color: #fff;
}

.playPages h1 span {
  width: .34rem;
  height: .34rem;
  display: inline-block;
  border-radius: 6px;
  margin-right: 6px;
  background: url("../assets/discover.png") no-repeat 0 0/100% red;
  vertical-align: middle;
}

.top {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.top .tit {
  margin-top: 20px;
}

.top .tit h3, .top .tit h6 {
  color: #eee;
  display: block;
}

.top .tit .songName {
  font-size: 18px;
}

.plays {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}

.hide {
  z-index: 90;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 50%;
}

.picUrl {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 40px solid rgba(0, 0, 0, 0.5);
  animation: rotate 10s linear infinite;
}

.disable {
  composes: picUrl;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom {
  margin-top: 50px;
  display: flex;
}

.bottom span {
  color: #eee;
}

.progress {
  width: 70%;
  margin: 0 auto;
}

.progress p {
  position: relative;
  width: 100%;
  height: 3px;
  background: #eee;
}

.progress p span {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  height: 100%;
  width: 40%;
  font-size: 14px;
}

.prev {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prev span {
  color: #eee;
}
